day_3_bronze_layer_ingestion_using_adf_and_databricks/adf_pipeline_json/pl_bronze_api_payments_v3.json
{
  "name": "pl_bronze_api_payments_v3",
  "properties": {
    "description": "Payments API to Bronze. Full load on first run. Incremental reads watermark automatically from dbw_ev_intelligence_dev.default.pipeline_audit via Databricks SQL Warehouse Lookup Activity. Audit row written via Copy Activity after every run (success or failure). Zero Databricks notebooks required.",
    "parameters": {
      "p_load_type": {
        "type": "string",
        "defaultValue": "incremental",
        "description": "full or incremental"
      }
    },
    "variables": {
      "v_token":          { "type": "String" },
      "v_watermark":      { "type": "String", "defaultValue": "1900-01-01T00:00:00Z" },
      "v_ingestion_date": { "type": "String" },
      "v_current_page":   { "type": "Integer", "defaultValue": 1 },
      "v_temp_page":      { "type": "Integer", "defaultValue": 1 },
      "v_total_pages":    { "type": "Integer", "defaultValue": 1 },
      "v_status":         { "type": "String",  "defaultValue": "started" }
    },
    "activities": [

      {
        "name": "act_get_username",
        "description": "Read VoltGrid username from Key Vault using ADF Managed Identity.",
        "type": "WebActivity",
        "dependsOn": [],
        "typeProperties": {
          "url": "https://kv-ev-intelligence-dev.vault.azure.net/secrets/voltgrid-username/?api-version=7.0",
          "method": "GET",
          "authentication": {
            "type": "MSI",
            "resource": "https://vault.azure.net"
          }
        }
      },

      {
        "name": "act_get_password",
        "description": "Read VoltGrid password from Key Vault using ADF Managed Identity.",
        "type": "WebActivity",
        "dependsOn": [
          { "activity": "act_get_username", "dependencyConditions": ["Succeeded"] }
        ],
        "typeProperties": {
          "url": "https://kv-ev-intelligence-dev.vault.azure.net/secrets/voltgrid-password/?api-version=7.0",
          "method": "GET",
          "authentication": {
            "type": "MSI",
            "resource": "https://vault.azure.net"
          }
        }
      },

      {
        "name": "act_api_login",
        "description": "POST credentials to VoltGrid login. Response body contains token field.",
        "type": "WebActivity",
        "dependsOn": [
          { "activity": "act_get_password", "dependencyConditions": ["Succeeded"] }
        ],
        "typeProperties": {
          "url": "https://ev-project-navy-mu.vercel.app/api/auth/login/",
          "method": "POST",
          "headers": { "Content-Type": "application/json" },
          "body": {
            "value": "@concat('{\"username\":\"', activity('act_get_username').output.value, '\",\"password\":\"', activity('act_get_password').output.value, '\"}')",
            "type": "Expression"
          }
        }
      },

      {
        "name": "act_set_token",
        "type": "SetVariable",
        "dependsOn": [
          { "activity": "act_api_login", "dependencyConditions": ["Succeeded"] }
        ],
        "typeProperties": {
          "variableName": "v_token",
          "value": {
            "value": "@activity('act_api_login').output.token",
            "type": "Expression"
          }
        }
      },

      {
        "name": "act_set_ingestion_date",
        "description": "Capture today UTC date once. Used as Bronze partition folder name for all pages this run.",
        "type": "SetVariable",
        "dependsOn": [
          { "activity": "act_set_token", "dependencyConditions": ["Succeeded"] }
        ],
        "typeProperties": {
          "variableName": "v_ingestion_date",
          "value": {
            "value": "@formatDateTime(utcNow(), 'yyyy-MM-dd')",
            "type": "Expression"
          }
        }
      },

      {
        "name": "act_get_watermark",
        "description": "Lookup Activity — queries pipeline_audit Delta table via Databricks SQL Warehouse. For full load returns the epoch date constant. For incremental returns MAX(watermark_value) from last succeeded run. Result accessed via activity('act_get_watermark').output.firstRow.last_watermark.",
        "type": "Lookup",
        "dependsOn": [
          { "activity": "act_set_ingestion_date", "dependencyConditions": ["Succeeded"] }
        ],
        "typeProperties": {
          "source": {
            "type": "AzureDatabricksDeltaLakeSource",
            "query": {
              "value": "@if(\n  equals(pipeline().parameters.p_load_type, 'full'),\n  'SELECT ''1900-01-01T00:00:00Z'' AS last_watermark',\n  concat(\n    'SELECT COALESCE(MAX(watermark_value), ''1900-01-01T00:00:00Z'') AS last_watermark FROM dbw_ev_intelligence_dev.default.pipeline_audit WHERE pipeline_name = ''pl_bronze_api_payments_v3'' AND status = ''succeeded'''\n  )\n)",
              "type": "Expression"
            }
          },
          "dataset": {
            "referenceName": "ds_pipeline_audit_src",
            "type": "DatasetReference"
          },
          "firstRowOnly": true
        }
      },

      {
        "name": "act_set_watermark",
        "description": "Store the watermark resolved by the Lookup into v_watermark. All subsequent API calls use this as updated_after.",
        "type": "SetVariable",
        "dependsOn": [
          { "activity": "act_get_watermark", "dependencyConditions": ["Succeeded"] }
        ],
        "typeProperties": {
          "variableName": "v_watermark",
          "value": {
            "value": "@activity('act_get_watermark').output.firstRow.last_watermark",
            "type": "Expression"
          }
        }
      },

      {
        "name": "act_get_total_pages",
        "description": "Call page 1 of payments API with the resolved watermark to read pagination.total_pages before starting the loop.",
        "type": "WebActivity",
        "dependsOn": [
          { "activity": "act_set_watermark", "dependencyConditions": ["Succeeded"] }
        ],
        "typeProperties": {
          "url": {
            "value": "@concat('https://ev-project-navy-mu.vercel.app/api/db/payments/?page=1&page_size=100&updated_after=', variables('v_watermark'))",
            "type": "Expression"
          },
          "method": "GET",
          "headers": {
            "Authorization": {
              "value": "@concat('Token ', variables('v_token'))",
              "type": "Expression"
            }
          }
        }
      },

      {
        "name": "act_set_total_pages",
        "type": "SetVariable",
        "dependsOn": [
          { "activity": "act_get_total_pages", "dependencyConditions": ["Succeeded"] }
        ],
        "typeProperties": {
          "variableName": "v_total_pages",
          "value": {
            "value": "@activity('act_get_total_pages').output.pagination.total_pages",
            "type": "Expression"
          }
        }
      },

      {
        "name": "act_paginate",
        "description": "Loop through all pages until v_current_page exceeds v_total_pages.",
        "type": "Until",
        "dependsOn": [
          { "activity": "act_set_total_pages", "dependencyConditions": ["Succeeded"] }
        ],
        "typeProperties": {
          "expression": {
            "value": "@greater(variables('v_current_page'), variables('v_total_pages'))",
            "type": "Expression"
          },
          "activities": [

            {
              "name": "act_copy_payments_page",
              "type": "Copy",
              "dependsOn": [],
              "typeProperties": {
                "source": {
                  "type": "RestSource",
                  "additionalHeaders": {
                    "Authorization": {
                      "value": "@concat('Token ', variables('v_token'))",
                      "type": "Expression"
                    }
                  },
                  "requestMethod": "GET"
                },
                "sink": {
                  "type": "JsonSink",
                  "storeSettings": { "type": "AzureBlobFSWriteSettings" },
                  "formatSettings": {
                    "type": "JsonWriteSettings",
                    "filePattern": "setOfObjects"
                  }
                },
                "enableStaging": false
              },
              "inputs": [
                {
                  "referenceName": "ds_voltgrid_payments_src_v3",
                  "type": "DatasetReference",
                  "parameters": {
                    "p_page":          { "value": "@variables('v_current_page')", "type": "Expression" },
                    "p_page_size":     100,
                    "p_updated_after": { "value": "@variables('v_watermark')",     "type": "Expression" }
                  }
                }
              ],
              "outputs": [
                {
                  "referenceName": "ds_bronze_payments_sink_v3",
                  "type": "DatasetReference",
                  "parameters": {
                    "p_ingestion_date": { "value": "@variables('v_ingestion_date')", "type": "Expression" },
                    "p_page":           { "value": "@variables('v_current_page')",   "type": "Expression" }
                  }
                }
              ]
            },

            {
              "name": "act_set_temp_page",
              "type": "SetVariable",
              "dependsOn": [
                { "activity": "act_copy_payments_page", "dependencyConditions": ["Succeeded"] }
              ],
              "typeProperties": {
                "variableName": "v_temp_page",
                "value": {
                  "value": "@add(variables('v_current_page'), 1)",
                  "type": "Expression"
                }
              }
            },

            {
              "name": "act_increment_page",
              "type": "SetVariable",
              "dependsOn": [
                { "activity": "act_set_temp_page", "dependencyConditions": ["Succeeded"] }
              ],
              "typeProperties": {
                "variableName": "v_current_page",
                "value": {
                  "value": "@variables('v_temp_page')",
                  "type": "Expression"
                }
              }
            }

          ],
          "timeout": "0.12:00:00"
        }
      },

      {
        "name": "act_set_status_success",
        "description": "Mark run succeeded after Until loop completes normally.",
        "type": "SetVariable",
        "dependsOn": [
          { "activity": "act_paginate", "dependencyConditions": ["Succeeded"] }
        ],
        "typeProperties": {
          "variableName": "v_status",
          "value": "succeeded"
        }
      },

      {
        "name": "act_set_status_failed",
        "description": "Mark run failed if Until loop or any upstream activity fails.",
        "type": "SetVariable",
        "dependsOn": [
          { "activity": "act_paginate", "dependencyConditions": ["Failed"] }
        ],
        "typeProperties": {
          "variableName": "v_status",
          "value": "failed"
        }
      },

      {
        "name": "act_write_audit",
        "description": "Copy Activity — writes one audit row into pipeline_audit Delta table via Databricks SQL Warehouse. Always runs (success and failure). Source is an inline query that builds the audit row from pipeline variables and system functions. Sink is ds_pipeline_audit_sink pointing to dbw_ev_intelligence_dev.default.pipeline_audit.",
        "type": "Copy",
        "dependsOn": [
          { "activity": "act_set_status_success", "dependencyConditions": ["Succeeded"] },
          { "activity": "act_set_status_failed",  "dependencyConditions": ["Succeeded"] }
        ],
        "typeProperties": {
          "source": {
            "type": "AzureDatabricksDeltaLakeSource",
            "query": {
              "value": "@concat(\n  'SELECT ',\n  '''pl_bronze_api_payments_v3''  AS pipeline_name, ',\n  '''', pipeline().parameters.p_load_type,  ''' AS load_type, ',\n  '''', variables('v_watermark'),            ''' AS watermark_value, ',\n  '''', variables('v_ingestion_date'),        ''' AS ingestion_date, ',\n       string(variables('v_total_pages')),    '   AS total_pages, ',\n  '''', variables('v_status'),               ''' AS status, ',\n  '''', pipeline().RunId,                    ''' AS pipeline_run_id, ',\n  'current_timestamp()                           AS run_timestamp'\n)",
              "type": "Expression"
            }
          },
          "sink": {
            "type": "AzureDatabricksDeltaLakeSink",
            "importSettings": {
              "type": "AzureDatabricksDeltaLakeImportCommand"
            }
          },
          "enableStaging": false
        },
        "inputs": [
          {
            "referenceName": "ds_pipeline_audit_src",
            "type": "DatasetReference"
          }
        ],
        "outputs": [
          {
            "referenceName": "ds_pipeline_audit_sink",
            "type": "DatasetReference"
          }
        ]
      }

    ]
  }
}
