day_8_silver_transformation/adf_pipeline_json/pl_bronze_api_master_v4_with_silver.json
{
  "name": "pl_bronze_api_master_v4_with_silver",
  "properties": {
    "description": "Extended master pipeline. Steps: 1) Lookup metadata config, 2) ForEach entity in parallel -> Bronze ingestion (child pipeline), 3) After ALL entities finish -> Silver transformation Databricks notebook. Bronze and Silver run in sequence — Silver only starts if all Bronze succeeds.",
    "parameters": {
      "p_load_type": {
        "type": "string",
        "defaultValue": "incremental",
        "description": "full or incremental — passed to Bronze child pipelines AND Silver notebook"
      }
    },
    "activities": [

      {
        "name": "act_read_metadata",
        "description": "Lookup — reads pipeline_metadata_config.json from Bronze ADLS. Returns all entity configs.",
        "type": "Lookup",
        "dependsOn": [],
        "typeProperties": {
          "source": {
            "type": "JsonSource",
            "storeSettings": {
              "type": "AzureBlobFSReadSettings",
              "recursive": false,
              "enablePartitionDiscovery": false
            },
            "formatSettings": {
              "type": "JsonReadSettings"
            }
          },
          "dataset": {
            "referenceName": "ds_pipeline_metadata_config",
            "type": "DatasetReference"
          },
          "firstRowOnly": false
        }
      },

      {
        "name": "act_foreach_entity",
        "description": "Iterate over all enabled entities in parallel. Each calls pl_bronze_api_ingest_v4 for Bronze ingestion. Silver transformation only starts AFTER this ForEach completes successfully.",
        "type": "ForEach",
        "dependsOn": [
          { "activity": "act_read_metadata", "dependencyConditions": ["Succeeded"] }
        ],
        "typeProperties": {
          "items": {
            "value": "@activity('act_read_metadata').output.value",
            "type": "Expression"
          },
          "isSequential": false,
          "batchCount": 20,
          "activities": [

            {
              "name": "act_ingest_entity",
              "description": "Bronze ingestion for one entity — calls child pipeline pl_bronze_api_ingest_v4.",
              "type": "ExecutePipeline",
              "dependsOn": [],
              "typeProperties": {
                "pipeline": {
                  "referenceName": "pl_bronze_api_ingest_v4",
                  "type": "PipelineReference"
                },
                "waitOnCompletion": true,
                "parameters": {
                  "p_entity_name": { "value": "@item().entity_name", "type": "Expression" },
                  "p_api_path":    { "value": "@item().api_path",    "type": "Expression" },
                  "p_page_size":   { "value": "@item().page_size",   "type": "Expression" },
                  "p_load_type":   { "value": "@pipeline().parameters.p_load_type", "type": "Expression" }
                }
              }
            }

          ]
        }
      },

      {
        "name": "act_silver_transform",
        "description": "Silver transformation — runs Databricks notebook 04_silver_all_entities_job_params_v4 AFTER all Bronze entities have been ingested. Reads Bronze JSON from Volume, applies data quality pipeline, writes Silver Delta tables. Passes load_type and today's ingestion_date as job parameters. Only runs if ForEach succeeded.",
        "type": "DatabricksNotebook",
        "dependsOn": [
          { "activity": "act_foreach_entity", "dependencyConditions": ["Succeeded"] }
        ],
        "typeProperties": {
          "notebookPath": "/Shared/silver_transformation/04_silver_all_entities_job_params_v4",
          "baseParameters": {
            "load_type": {
              "value": "@pipeline().parameters.p_load_type",
              "type": "Expression"
            },
            "ingestion_date": {
              "value": "@formatDateTime(utcNow(), 'yyyy-MM-dd')",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "ls_databricks_dev",
          "type": "LinkedServiceReference"
        }
      }

    ]
  }
}
