day_12_gold_adf_pipeline/adf_pipeline_json/pl_bronze_api_master_v5.json
{
  "name": "pl_bronze_api_master_v5",
  "properties": {
    "description": "Master pipeline v5 — extends v4 with Gold layer. Bronze (ForEach parallel) → Silver (Databricks notebook) → Gold (Databricks notebook). Adding a new entity = add one row to pipeline_metadata_config.json, zero pipeline changes.",
    "parameters": {
      "p_load_type": {
        "type": "string",
        "defaultValue": "incremental",
        "description": "full or incremental — passed to Bronze child pipelines, Silver pipeline, and Gold pipeline"
      }
    },
    "activities": [

      {
        "name": "act_read_metadata",
        "description": "Lookup Activity — reads pipeline_metadata_config.json from Bronze ADLS. Returns the full JSON array of entity configs. firstRowOnly is false so all rows are returned in output.value array.",
        "type": "Lookup",
        "dependsOn": [],
        "policy": {
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "JsonSource",
            "storeSettings": {
              "type": "AzureBlobFSReadSettings",
              "recursive": false,
              "enablePartitionDiscovery": false
            },
            "formatSettings": {
              "type": "JsonReadSettings"
            }
          },
          "dataset": {
            "referenceName": "ds_pipeline_metadata_config",
            "type": "DatasetReference"
          },
          "firstRowOnly": false
        }
      },

      {
        "name": "act_foreach_entity",
        "description": "Iterate over every enabled entity in the metadata config. isSequential is false — all entities run in parallel (max 20 concurrent). Each iteration calls pl_bronze_api_ingest_v4 with entity-specific parameters.",
        "type": "ForEach",
        "dependsOn": [
          { "activity": "act_read_metadata", "dependencyConditions": ["Succeeded"] }
        ],
        "userProperties": [],
        "typeProperties": {
          "items": {
            "value": "@activity('act_read_metadata').output.value",
            "type": "Expression"
          },
          "isSequential": false,
          "batchCount": 20,
          "activities": [
            {
              "name": "act_ingest_entity",
              "description": "Execute Bronze child pipeline for this entity. Passes entity_name, api_path, page_size, and load_type from metadata config and master pipeline parameter.",
              "type": "ExecutePipeline",
              "dependsOn": [],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "pipeline": {
                  "referenceName": "pl_bronze_api_ingest_v4",
                  "type": "PipelineReference"
                },
                "waitOnCompletion": true,
                "parameters": {
                  "p_entity_name": { "value": "@item().entity_name", "type": "Expression" },
                  "p_api_path":    { "value": "@item().api_path",    "type": "Expression" },
                  "p_page_size":   { "value": "@item().page_size",   "type": "Expression" },
                  "p_load_type":   { "value": "@pipeline().parameters.p_load_type", "type": "Expression" }
                }
              }
            }
          ]
        }
      },

      {
        "name": "act_invoke_silver_pipeline",
        "description": "Execute Silver transformation pipeline after all Bronze entities finish. Invokes pl_silver_api_transform_v4 which calls Databricks notebook 04_silver_all_entities_job_params_v4. Passes load_type and today ingestion_date. Only runs if ForEach succeeded.",
        "type": "ExecutePipeline",
        "dependsOn": [
          { "activity": "act_foreach_entity", "dependencyConditions": ["Succeeded"] }
        ],
        "policy": {
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "pipeline": {
            "referenceName": "pl_silver_api_transform_v4",
            "type": "PipelineReference"
          },
          "waitOnCompletion": true,
          "parameters": {
            "p_load_type": {
              "value": "@pipeline().parameters.p_load_type",
              "type": "Expression"
            },
            "p_ingestion_date": {
              "value": "@formatDateTime(utcNow(), 'yyyy-MM-dd')",
              "type": "Expression"
            }
          }
        }
      },

      {
        "name": "act_invoke_gold_pipeline",
        "description": "Execute Gold transformation pipeline after Silver completes. Invokes pl_gold_api_transform_v4 which calls Databricks notebook 04_gold_full_incremental_v3. Passes load_type. Only runs if Silver succeeded — if Silver fails, Gold is automatically skipped.",
        "type": "ExecutePipeline",
        "dependsOn": [
          { "activity": "act_invoke_silver_pipeline", "dependencyConditions": ["Succeeded"] }
        ],
        "policy": {
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "pipeline": {
            "referenceName": "pl_gold_api_transform_v4",
            "type": "PipelineReference"
          },
          "waitOnCompletion": true,
          "parameters": {
            "p_load_type": {
              "value": "@pipeline().parameters.p_load_type",
              "type": "Expression"
            }
          }
        }
      }

    ],
    "annotations": [],
    "lastPublishTime": "2026-07-19T00:00:00Z"
  },
  "type": "Microsoft.DataFactory/factories/pipelines"
}
